.deps/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
codoc
*.o
codoctest
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
hfile.o
install-sh
missing
pkgwriteinfo
